# deps
node_modules/

# Next.js
.next/
out/

# env
.env
.env.local
.env.production

# local SQLite dev DB
local.db
local.db-shm
local.db-wal

# drizzle studio snapshot metadata (not needed in CI)
drizzle/meta/

# playwright
playwright-report/
test-results/
e2e-test.db
e2e-test.db-shm
e2e-test.db-wal

# misc
.DS_Store
*.pem
*.tsbuildinfo
